<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1A7D36C9-AF78-4DA6-81E4-0A9BDA2AC1C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2AB84FE-B832-4114-9A55-4EC487876CEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AFCBF7FF-6161-4ECB-941B-B0F7093364DD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C885A50-A920-4B1D-8B48-8882C53FAE2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E5BF4DB-BA89-4433-9514-AB9357BBC53D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E5BF4DB-BA89-4433-9514-AB9357BBC53D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA83839C-BAE2-4036-9452-F93811781E4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1A7D36C9-AF78-4DA6-81E4-0A9BDA2AC1C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B16895B1-43EF-441F-8AE0-EA42749DAB7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C885A50-A920-4B1D-8B48-8882C53FAE2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9FB92AE-0DDB-48B7-9AF9-91E525C14B69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C885A50-A920-4B1D-8B48-8882C53FAE2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2AB84FE-B832-4114-9A55-4EC487876CEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>380BEB62-150E-48D7-A5AC-7F9F3964CD31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA83839C-BAE2-4036-9452-F93811781E4C</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>zorch-copy</string>
	<key>description</key>
	<string>Paste from Apple Books without citation</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paste from Apple Books</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EA83839C-BAE2-4036-9452-F93811781E4C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>6E5BF4DB-BA89-4433-9514-AB9357BBC53D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B16895B1-43EF-441F-8AE0-EA42749DAB7A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function runCommand(...arguments) {
  const task = $.NSTask.alloc.init
  const stdout = $.NSPipe.pipe

  task.executableURL = $.NSURL.alloc.initFileURLWithPath(arguments[0])
  task.arguments = arguments.slice(1)
  task.standardOutput = stdout
  task.launchAndReturnError(false)

  const dataOut = stdout.fileHandleForReading.readDataToEndOfFile
  const stringOut = $.NSString.alloc.initWithDataEncoding(dataOut, $.NSUTF8StringEncoding).js

  return stringOut
}

runCommand("/usr/bin/pbpaste").match(/^“(.+)”$/ms)[1]</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5C885A50-A920-4B1D-8B48-8882C53FAE2B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Sosumi</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>380BEB62-150E-48D7-A5AC-7F9F3964CD31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>iBooks doesn’t allow copying that many charactes at once. The paste was truncated.</string>
				<key>title</key>
				<string>Too many characters copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E2AB84FE-B832-4114-9A55-4EC487876CEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>\[…\]$</string>
						<key>outputlabel</key>
						<string>Truncated</string>
						<key>uid</key>
						<string>AFCBF7FF-6161-4ECB-941B-B0F7093364DD</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Success</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1A7D36C9-AF78-4DA6-81E4-0A9BDA2AC1C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ibpaste</string>
				<key>subtext</key>
				<string>Paste from iBooks without the credits</string>
				<key>text</key>
				<string>iBooksPaste</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D9FB92AE-0DDB-48B7-9AF9-91E525C14B69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1A7D36C9-AF78-4DA6-81E4-0A9BDA2AC1C7</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>380BEB62-150E-48D7-A5AC-7F9F3964CD31</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>5C885A50-A920-4B1D-8B48-8882C53FAE2B</key>
		<dict>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>6E5BF4DB-BA89-4433-9514-AB9357BBC53D</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>B16895B1-43EF-441F-8AE0-EA42749DAB7A</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>D9FB92AE-0DDB-48B7-9AF9-91E525C14B69</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>E2AB84FE-B832-4114-9A55-4EC487876CEE</key>
		<dict>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>EA83839C-BAE2-4036-9452-F93811781E4C</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
